<header>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand mb-0 h1" href="#">PoaMobi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>
<main class="app-layout__content">
  <ng-content></ng-content>
</main>
